* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #EFEFEF url("/assets/main-bg.jpg");
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #000000;
}

h1, h2, h3 {
  font-family: 'Odibee Sans', sans-serif;
  color: #221D1D;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

a {
  text-decoration: none;
  color: #091478;
}

a:hover {
  text-decoration: underline;
  color: rgb(5, 12, 71);
}

#top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#top-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 30px 0px 10px 30px;
}

#top-left a {
  text-decoration: none;
  color: #000000;
  border: none;
}

#top-left a:hover {
  text-decoration: none;
}

#brand {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#brand #name {
  margin: 0px 0px 0px 10px;
}

#top-right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#slogan {
  margin: 0px 30px 20px 30px;
  max-width: 360px;
}

#slogan h3 {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 18px;
  margin-left: 8px;
}

#menu {
  margin: 0px 30px 0px 30px;
}

#menu-body {
  padding: 6px;
  border-radius: 3px 3px 0px 0px;
  display: inline-block;
  background: #83003E;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#menu-body div {
  padding: 4px 8px;
}

#menu-body a {
  margin: 3px;
  padding: 4px;
  text-decoration: none;
  font-size: 16px;
  color: #FFFFFF;
  border: none;
  border-bottom: 1px solid #FFFFFF;
}

#menu a:hover {
  text-decoration: none;
}

#menu-line {
  background: #83003E;
  height: 3px;
  clear: both;
}

#banner {
  background: #000002;
  text-align: center;
}

#banner img {
  width: 100%;
  height: auto;
}

#content {
  margin: 30px;
}

#content p {
  margin-bottom: 20px;
}

#footer {
  text-align: center;
  border-top: 1px solid #CCCCCC;
  background: #ffffff;
  padding: 40px;
}
